<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Paraíso Shoes</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
	<style>
		
	</style>
	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:if="${session.idusuario == null}">
		<div th:include="usuario/template_usuario.html::header"></div>
	</div>

	<div th:unless="${session.idusuario == null}">
		<div th:if="${session.tipoUsuario == 'USER'}">
			<div th:include="usuario/template_usuario.html::header-user"></div>
		</div>

		<div th:if="${session.tipoUsuario == 'ADMIN'}">
			<div th:include="administrador/template_admin.html::header"></div>
		</div>
	</div>

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4" style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 4.5em;;text-aling:center;background-color: #FFE1E6">
			<h1 class="display-3" style="font-size:3.2em;text-aling:center">Bienvenido a Paraíso Shoes</h1>
			<p class="lead" style="text-aling:center">Tu tienda de productos en Línea</p>
		</header>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
				<div class="card h-100">
					<img class="card-img-top" th:src="@{/images/{img} (img = ${producto.imagen})}" alt="">
					<div class="card-body">
						<p class="card-text" th:text="${producto.nombre}"></p>
					</div>
					<div class="card-footer">
						<a th:href="@{/productohome/{id} (id=${producto.id})}" class="btn btn-success" style="background-color:#25BD00">Ver producto</a>
					</div>
				</div>
			</div>

		</div> 	
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuario/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>