<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Paraiso Shoes</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{css/heroic-features.css}" rel="stylesheet">

	
</head>

<body >

	<!-- Navigation -->
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #FFC0CB !important">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}" style="color: #FFFFFF;text-shadow:-1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black">Paraíso Shoes</a>

				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
					<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
						name="nombre" autocomplete="off">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border:3px;background-color:#25BD00;color: #FFFFFF">Buscar</button>
				</form>


				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{/getCart}" style="color:#FFFFFF">Carrito</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/usuario/login}" style="color:#FFFFFF">Ingresar</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
	<div th:fragment="header-user">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #FFC0CB !important">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}" style="color: #FFFFFF;text-shadow:-1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black">Paraiso Shoes</a>
	
				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
					<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="nombre"
						autocomplete="off">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border:3px;background-color:#25BD00;color: #FFFFFF">Buscar</button>
				</form>
	
	
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">	
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
								id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" style="color: #FFFFFF;text-shadow:-1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black"> USUARIO </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#FFC0CB !important">
								<a class="dropdown-item" th:href="@{/usuario/compras}">Compras</a>
								<a class="dropdown-item" th:href="@{/getCart}">Carrito</a>
								<a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- Footer -->
	<div th:fragment="footer">
		<footer class="py-4 bg-dark" style="background-color: #FFC0CB !important;">
			<div class="container">
			  <div class="row">
				<div class="col-md-6 mb-3">
				  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.0962593866293!2d-72.508336726484!3d7.884997205849284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e665befeedd8517%3A0xdf62eebf22e0de51!2sEl%20Gran%20Sam%20del%20Norte%20-%20Centro%20Internacional%20de%20la%20Moda!5e0!3m2!1ses-419!2sco!4v1719097219590!5m2!1ses-419!2sco" class="google-map" allowfullscreen="" loading="lazy" style="border: 0; border-radius: 15px; width: 100%; height: 200px;"></iframe>
				</div>
				<div class="col-md-6">
				  <div class="text-center">
					<p class="m-0 text-center text-white" style="font-size: 2.5em; color: #FFFFFF; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; margin-bottom: 10px;">Paraíso Shoes</p>
					<div>
					  <img src="/images/instagram.png" alt="Instagram" style="width: 40px; height: 40px; margin-left: 10px;">
					  <span style="font-size: 1.5em;font-weight: bold; color: #FFFFFF;">paraiso_shoes30</span>
					</div>
					<div>
					  <img src="/images/facebook.png" alt="Facebook" style="width: 40px; height: 40px; margin-left: 10px;">
					  <span style="font-size: 1.5em;font-weight: bold; color: #FFFFFF;">paraiso_shoes30</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </footer>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>