<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Paraíso Shoes</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="administrador/template_admin.html::header"></div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Paraíso Shoes <small>Productos</small>
		</h1>

		<ol class="breadcrumb" style="background-color:#FFC0CB">
			<li class="breadcrumb-item"><a th:href="@{/}" style="color: #000000;text-shadow:-0.5px -0.5px 0 white,0.5px -0.5px 0 white,-0.5px 0.5px 0 white,0.5px 0.5px 0 white">Inicio</a></li>
			<li class="breadcrumb-item active" style="color:#000000">Crear Productos</li>
		</ol>

		<h2 style="color: #FF69B4;">Crear Producto</h2>
<form class="form-horizontal" th:action="@{/productos/save}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre" style="color: #FF69B4;">Nombre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre"
                   placeholder="Ingrese el nombre del producto" autocomplete="off" required
                   style="border-color: #FF69B4; color: black;">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion" style="color: #FF69B4;">Descripción:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="descripcion" name="descripcion"
                      placeholder="Ingrese la descripción del producto" required autocomplete="off"
                      style="border-color: #FF69B4; color: black;"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="cantidad" style="color: #FF69B4;">Cantidad:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="cantidad" name="cantidad"
                   placeholder="Ingrese la cantidad del producto" required autocomplete="off"
                   style="border-color: #FF69B4; color: black;">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="color" style="color: #FF69B4;">Color:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="color" name="color"
                   placeholder="Ingrese el color del producto" autocomplete="off" required
                   style="border-color: #FF69B4; color: black;">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="talla" style="color: #FF69B4;">Talla:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="talla" name="talla"
                   placeholder="Ingrese la talla del producto" autocomplete="off" required
                   style="border-color: #FF69B4; color: black;">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="precio" style="color: #FF69B4;">Precio:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" step="any" id="precio" name="precio"
                   placeholder="Ingrese el precio del producto" autocomplete="off" required
                   style="border-color: #FF69B4; color: black;">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="img" style="color: #FF69B4;">Imagen:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" id="img" name="img">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success" style="background-color: #FF69B4;">
                <span class="glyphicon glyphicon-saved" style="color: white;"></span> Guardar
            </button>
        </div>
    </div>

</form>


	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>